* {
  font-family: 'Montserrat', sans-serif;
}

:root {
	
  --main-color: #AE2424;

/*  --main-color: #00563B;*/
}

.show {
  display: block;
}

.hide {
  display: none;
}

.top-lay {
  z-index: 100;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  transition: .25s;
}

.white-text {
  color: #fff;
}

.hr-white {
  background-color:#fff;
  height: 1px;
  /* width: 100%; */
}

.min-h100 {
  min-height: 100vh;
}

header {
  font-size: .9em;
}

.navbar-brand {
  color: #8E8E8E !important;
}
.navbar-brand span {
  color: #424242 !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--main-color);
}

#header-desktop {
  border-bottom: 1px solid #dddddd;
}

#home-arrow i {
  font-size: 2.25em;
}

/* Home */
#home {
  min-height: 100vh;
  background-color: var(--main-color);
}

.bio {
  font-size: .85em;
}

@media (min-width: 768px) {
  #home {
    background-image: url('../assets/home-bg.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Contact */
#contact {
  background-color: #F3F3F3;
  min-height: 30vh;
  
}

#contact .row {
  flex: 1;
 
}

.subtitle:after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  height: 2px;
  background-color: var(--main-color);
  width: 50px;
  margin: auto;
}

.email {
  color: #494949;
  transition: .25s;
  text-decoration: none;
}

.email:hover {
  color: var(--main-color);
  text-decoration: none;
}

.linkedicons {
  color: #494949;
  transition: .25s;
  text-decoration: none;
  margin:0 auto;
  text-size: 30px;
}

.linkedicons:hover {
  color: var(--main-color);
  text-decoration: none;
}

/* Works */
#header-works {
  background-color: var(--main-color);
}

#header-works .navbar-brand {
  color: #fff;
}

#works {
	padding:30px;
  min-height: 70vh;
  background-color: white;
  display: flex;
  flex-direction:column;
  justify-content: center;
  font-size:.6em
  /*text-align: left;*/
}

.music p {
  font-size: .65rem;
}

#works .opus{
	font-size: 2em;
	color: #AE2424;
}

#square{
	Height: 100px;
	background-color: #AE2424;
}

#miscellanea {
	display: flex;
	flex-direction:row;
	justify-content:center;
}

#select-works {
	color: #AE2424;
	outline-color: #AE2424;
	margin-left: 10px;
	
}
