<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Juan Carlos Aliaga Del Bosque | Works</title>
  <link rel="icon" type="image/png" href="../assets/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/progres-bar.css">
  

</head>
<body data-spy="scroll" data-target="#header-desktop" data-offset="100">
	<section id="square">
	</section>
  <header id="header-desktop" class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand text-uppercase" href="#home">Juan Carlos <span>Aliaga Del Bosque</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link home-link" href="../index.html#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link about-link" href="../index.html#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#works">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news.html">News</a>
          </li>	
          <li class="nav-item">
            <a class="nav-link" href="miscellanea.html">Miscellanea</a>
          </li>
          <li class="nav-item">
            <a class="nav-link contact-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="works" class="container justify-content-start">
		<div class="row">
			<select id="select-works">
				<option value="all" class="" selected>all</option>
				<option value="solo" class="solo">solo</option>
				<option value="chamber" class="chamber">chamber</option>
				<option value="vox" class="vox">voice</option>
				<option value="chorus" class="chorus">choir</option>
				<option value="soloorch" class="soloorch">soloist with orchestra/ensemble</option>
				<option value="orch" class="orch">orchestra/chamber orchestra</option>
			</select>
		</div>
	
		<section class="row pt-4">
			<div class="col col-sm-6 music solo">
				<p class="opus">Escenas</p><p>for flute solo<br>2010<br>Duration: 5'</p>
				<div class="mediPlayer">
					<audio class="listen" preload="none" data-size="30" src="../assets/music demos/escenas2.mp3"></audio>
				</div>
				<hr>
			</div>
			<div class="col col-sm-6 music vox">
				<p class="opus">Tres Poemas de Alejandra Pizarnik</p>
				<p>for soprano and piano<br>2011<br>Duration: 7'</p>
				<div class="mediPlayer">
					<audio class="listen" preload="none" data-size="250" src="../assets/music demos/lied.mp3"></audio>
				</div>
				<hr>
			</div> 
			<div class="col col-sm-6 music chamber">
				<p class="opus">Temas y Variaciones</p><p>for flute, clarinet and bassoon<br>2013<br>Duration: 6'</p>
				<div class="mediPlayer">
					<audio class="listen" preload="none" data-size="250" src="../assets/music demos/wwtrio.mp3"></audio>
				</div>
				<hr>
			</div>
			<div class="col col-sm-6 music chorus">
				<p class="opus">Tres Poemas de Blanca Varela</p><p>for mixed choir<br>2013<br>Duration: 8'</p>
				<p> <br>Audio demo coming soon</p>
				<!--	
				<div class="mediPlayer">

					<audio class="listen" preload="none" data-size="250" src="../assets/final3.wav"></audio>

				</div>
				-->
				<hr>
			</div>
			<div class="col col-sm-6 music chamber">
				<p class="opus">String Quartet Nº1 </p><p><br>2014<br>Duration: 8'</p>
				<div class="mediPlayer">
					<audio class="listen" preload="none" data-size="250" src="../assets/music demos/sq.mp3"></audio>
				</div>
				<hr>
			</div>
			<div class="col col-sm-6 music soloorch">
				<p class="opus">De Rebus Humanis</p><p>for violin solo and small orchestra<br>2015<br>Duration: 12'</p>	
				<div class="mediPlayer">
					<audio class="listen" preload="none" data-size="250" src="../assets/music demos/TF.mp3"></audio>
				</div>
				<hr>
			</div>
			<div class="col col-sm-6 music orch">
				<p class="opus">Nuevas Escenas</p><p>for full orchestra<br>2017<br>Duration: 15'</p>
				<div class="mediPlayer">
					<audio class="listen" preload="none" data-size="250" src="../assets/music demos/NE3mov.mp3"></audio>
				</div>
				<hr>
			</div>
			<div class="col col-sm-6 music chamber">
				<p class="opus">Piano Trio Nº1</p><p>for violin, cello and piano<br>2018<br>Duration: 13'</p>
				<div class="mediPlayer">
					<audio class="listen" preload="none" data-size="250" src="../assets/music demos/TrioII.mp3"></audio>
				</div>
				<hr>
			</div>
			<div class="col col-sm-6 music solo">
				<p class="opus">Dos Danzas</p><p>for piano<br>2018<br>Duration: 8'</p>
				<p> <br>Audio demo coming soon</p>
				<!--
				<div class="mediPlayer">

					<audio class="listen" preload="none" data-size="250" src="../assets/final3.wav"></audio>

				</div>
				-->
				<hr>
			</div>
			<div class="col col-sm-6 music solo">
				<p class="opus">Soliloquia inter Memorias</p><p>for cello<br>2019<br>Duration: 4'</p>
				<p> <br>Audio demo coming soon</p>
				<!--
				<div class="mediPlayer">

					<audio class="listen" preload="none" data-size="250" src="../assets/final3.wav"></audio>

				</div>
				-->
				<hr>
			</div>
			<div class="col col-sm-6 music soloorch">
				<p class="opus">Dos Crisoles</p><p>for flute and string orchestra (string quintet)<br>2019<br>Duration: 9'</p>
				<p> <br>Audio demo coming soon</p>
				<!--
				<div class="mediPlayer">

					<audio class="listen" preload="none" data-size="250" src="../assets/final3.wav"></audio>

				</div>
				-->
			</div>
			<div class="col col-sm-6 music orch">
				<p class="opus">Ex Bosco, ad Arboretum</p><p>for string orchestra<br>2019<br>Duration:</p>
				<p> <br>Audio demo coming soon</p>
				<!--
				<div class="mediPlayer">

					<audio class="listen" preload="none" data-size="250" src="../assets/final3.wav"></audio>

				</div>
				-->
			</div>
		</section>
	</section>
  <footer id="contact" class="container-fluid py-4">
    <div class="row">
      <div class="col">
        <h4 class="text-uppercase subtitle text-center">Contact</h4>
      </div>
    </div>
    <div class="row">
      <div class="col pt-4">
        <p class="text-center">Juan Carlos Aliaga Del Bosque</p>
        <a href="mailto:jcaliagadb@gmail.com" target="_top" class="email text-center d-block">email: jcaliagadb@gmail.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col pt-4">
        <p class="text-center">© 2018 All rights reserved.</p>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <!-- <script src="../js/app.js"></script> -->
 
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> 
	
	<script src="../js/player.js"></script>
	
	<script>$('.mediPlayer').mediaPlayer();</script>	
	<script src="../js/opacity.js";></script>
	<script>
	
	$.noConflict();
	src="https://code.jquery.com/jquery-3.3.1.min.js";
	src="../js/app.js";
	
	</script>

	<script src="../js/filter.js"></script>


	
	
	<!--
	<script type="text/javascript" </script>
	<!script type="text/javascript" var jQuery_1_12_4 = $.noConflict(true); </script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!script type="text/javascript" var jQuery_3_3_1 = $.noConflict(true); </script>
		<script src="../js/app.js"></script>
	-->



  


</body>
</html>
