#header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dddddd;
  font-size: 0.9em;
}

.header-h1 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0;
}

.header-h1 span {
  color: #8E8E8E;
}

.name {
  color: #8E8E8E;
}

#header-nav {
  background-color: #f8f9fa;
}

.menu-btn {
  width: 36px;
  box-shadow: none;
  border: none;
  outline: none !important;
  background-color: transparent;
  padding: 5px;
}

.menu-btn img {
  width: 100%;
}