:root {
  --jcadb-red: #AD2222;
  --jcadb-dark-gray: #212529;
  --jcadb-light-gray: #c4c4c4;
  --jcadb-light-bg: #F5F5F5;
}

.App {
  color: var(--jcadb-dark-gray);
  font-size: .85em;
  background-color: var(--jcadb-light-bg);
}

.section-divider {
  background-color: var(--jcadb-light-gray);
}

.section-title {
  color: var(--jcadb-red);
}